.bigbox {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url(photos/login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.box {
  font-size: 40px;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 700px;
  border: 1px solid black;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  input {
    height: 40px;
    font-size: 35px;
    border: 1px solid black;
  }
  button:hover {
    cursor: pointer;
  }
  #password {
    height: 40px;
    font-size: 35px;
  }
  .password-container {
    position: relative;
  }
  .fa-eye {
    position: absolute;
    top: 18%;
    right: 4%;
    cursor: pointer;
    color: lightgrey;
  }
}

.reg {
  text-align: center;
  width: 700px;
  height: 600px;
  top: 50%;
  background: rgba(255, 255, 255, 1);
  justify-content: center;
  input {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .regeye {
    top: 25%;
  }
  select {
    margin-bottom: 20px;
  }
}
button {
  font-size: 45px;
}
select {
  font-size: 25px;
}
#regpassword {
  height: 40px;
  font-size: 35px;
}
